body{
  margin:0px;
  padding:0px;
  font-family: sans-serif;
  color:#bf1e2e;
}
.wrap{
    margin:0px;
    padding:0px;
    display:grid;
    grid-template-columns: .5fr 2fr 1fr;
    min-height:680px;
}
.wrap > div:nth-child(odd) {

    }
.sideSec {
    grid-column: 1/2;
    grid-row: 2/3;
    min-height: 100%;
}
.topSec{
    color:#fff;
    grid-column:1/4;
    grid-row:1/2;
}
.contentSec {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #eee;
    min-height: 720px;
}
.wrap a {
    color: #FFF;
    list-style: none;
    text-decoration: none;
}
.main-nav {

}
.main-nav table tr td{
    width:50px;
}
.main-nav table {
    margin: auto;
    width: 100%;
}
.main-nav table a{
    color:#fff;
}
.main-nav table tr td {
        text-align: center;
        padding: 5%;
    }
.main-nav table tr td:hover a{
        color: #FFF;
}
.topSec #uTable{
    padding:5px;
    width:100%;
    text-align:center;
}
table td .userimg img{
    border-radius:10px;
}
.userimg a:hover td{
  opacity: .5;
}
.sett a:hover .sett{
  opacity: .5;
}
.table td a:hover table{
  opacity: .5;
  background-color: #bf1e2e;
  color:#fff;
}
.contentSec{
  padding: 5%;
  color:#222;
}
textarea{
border-radius: 10px;
}
